@import "../../sass/variables";

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4rem;

  h1 {
    font-size: 2rem;
    font-family: $font-header;
    margin-bottom: 1rem;
    text-align: center;
    color: $yellow;

    a {
      text-decoration: none;
    }
  }

  a {
    font-size: 3rem;
    color: $yellow;
  }
}