@import "./sass/_variables.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Paytone+One&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-family: $font-body;
  overflow-x: hidden;
  font-size: 62.5%;
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #191919;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding {
  padding: 10rem 10rem;

  @media screen and (max-width: 768px) {
    padding: 5rem 5rem;
  }

  @media screen and (max-width: 568px) {
    padding: 2rem 2rem;
  }
}



.heading {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 3rem;

  @media only screen and (max-width: 768px) {
    font-size: 3rem;
  }
}

.subheading {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  line-height: 1.8;
}

.orange {
  color: rgb(255, 125, 68);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.page404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  text-align: center;

  h1 {
    font-size: 30rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: $green;
    font-family: $font-header;

    @media screen and (max-width: 768px) {
      font-size: 20rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 15rem;
    }
  }

  p {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: $yellow;

    @media screen and (max-width: 768px) {
      font-size: 3rem;
    }
  }

  a {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: $green;
    // text-decoration: none;
  }
}